#!/usr/bin/env sh
# Compute the mean image from the imagenet training lmdb
# N.B. this is available in data/ilsvrc12

EXAMPLE=/workspace/datasets/CASIA-WebFace-custom/
DATA=/workspace/datasets/CASIA-WebFace-custom/
TOOLS=/opt/caffe/build/tools

$TOOLS/compute_image_mean $EXAMPLE/train_lmdb \
  $DATA/mean.binaryproto

echo "Done."
